/* 
    RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
  font-family: Arial, Helvetica, sans-serif;
}
header a {
  text-decoration: none;
  color: #767676;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-container .navbar-left {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-container .navbar-left > img {
  margin-left: 20px;
}
.header-container .navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-container .navbar-right button {
  background-color: #0061ff;
  color: white;
  width: auto;
  font-size: medium;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
}
.big-container {
  width: 100vw;
  margin: 100px 0 100px 0;
}
.small-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.col-2 {
  width: calc(100vw / 3) * 2;
}
.col-1 {
  width: calc(100vw / 3) * 1;
}
.header-bottom {
  margin: 0;
  background-color: #b4d0e7;
  width: 100%;
  height: 650px;
  position: relative;
}
.header-bottom .header-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.header-bottom .header-container > h1 {
  margin-top: 60px;
  font-size: 70px;
  font-weight: 900;
}
.header-container .mid-container {
  display: flex;
  max-width: 1200px;
  margin-top: 40px;
}
.mid-container .description {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.mid-container .description > p {
  line-height: 22px;
}
.mid-container .description > button {
  background-color: #0061ff;
  color: white;
  width: auto;
  font-size: medium;
  border: none;
  width: max-content;
  margin: 25px 0 25px 0;
  padding: 10px 20px;
}
.mid-container > img {
  width: 800px;
}
.mid-container .description i {
  margin-top: 65px;
  font-size: 35px;
}

/* MAIN  */

.big-container > .top-container {
  width: 1000px;
  padding: 200px 0 0 0;
  margin: 0 auto;
  background-color: white;
}

.big-container > .top-container div h2 {
  font-size: 40px;
  padding-bottom: 70px;
}
.big-container > .top-container div label {
  padding: 30px;
}
.big-container > .top-container div input {
  margin-bottom: 40px;
}

/* Card Main */

.big-container .small-container > .flex-card-b {
  border: 1px solid #767676;
  margin-top: 20px;
  width: 33.33%;
}
.big-container .small-container > .flex-card {
  padding-top: 40px;
  width: 33.33%;
}

.big-container .small-container .card {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  line-height: 22px;
}
.utente {
  padding: 15px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #767676;
  justify-content: center;
  align-items: center;
}
small {
  color: #767676;
}
.big-container .small-container .card h3 {
  padding: 30px 0 20px 0;
  font-size: 25px;
  font-weight: 700;
}

.big-container .small-container .card div {
  padding-top: 40px;
}
.big-container .small-container .card div ul li {
  padding-top: 13px;
}
.big-container .small-container .card button {
  background-color: #0061ff;
  color: white;
  width: auto;
  padding: 15px;
  font-size: medium;
  text-align: center;
  border: none;
  width: 100%;
  margin: 30px 0 30px 0;
}
.big-container .small-container .card a {
  color: blue;
}
.big-container .small-container .card hr {
  border: 0.2px solid #dedee0;
  width: 50px;
  margin: 30px 0 30px 0;
}
/* .main-top .mid-container .card > h4 {
  margin-bottom: 10px;
} */
.big-container .small-container .card div p {
  margin-bottom: 15px;
}
/* Card bottom */

.card-bottom {
  margin-top: 50px;
  width: 100%;
}
.card-bottom .user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 1px solid #767676;
  border-bottom: none;
}
.card-bottom .bottom-card {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #767676;
  gap: 50px;
}

.card-bottom .bottom-card .description {
  width: 66.66%;
  padding: 0px 0px 0px 25px;
}
.card-bottom .bottom-card .description h3 {
  padding: 30px 0 20px 0;
  font-size: 25px;
  font-weight: 700;
}
.card-bottom .bottom-card .description h5 {
  font-size: 14px;
  max-width: 40%;
}
.card-bottom .bottom-card .description p {
  padding: 50px 0 50px 0;
  max-width: 100%;
}
.card-bottom .bottom-card div {
  width: 33.33%;
  padding: 0 25px 0 25px;
}
.card-bottom .bottom-card div > button {
  background-color: #0061ff;
  color: white;
  width: 100%;
  padding: 15px;
  font-size: medium;
  text-align: center;
  border: none;
  margin-top: 30px;
  margin-right: 30px;
}

/* Partner */
.small-container .image-mid-container {
  width: 66.66%;
}
.small-container .image-mid-container > img {
  width: 100%;
}
.small-container .description {
  width: 33.33%;
  line-height: 22px;
}
.small-container .description > h3 {
  padding: 60px 0 20px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}
.small-container .description > p {
  width: 90%;
  line-height: 25px;
  padding-bottom: 25px;
}
.small-container .description > button {
  color: black;
  background-color: white;
  border: 1px solid #767676;
  padding: 14px 25px;
}
.small-container h2 {
  font-size: 2.5rem;
}

/* IMAGES MAIN */
.images-container .big-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vw / 3);
}

.images-container .big-container .first-container,
.second-container,
.third-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.images-container .big-container .first-container > div,
.images-container .big-container .third-container > div {
  width: calc(100% / 2);
  height: calc(100% / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-container .big-container .first-container div > img,
.images-container .big-container .third-container div > img {
  width: 50%;
  filter: invert();
}

.images-container .big-container .second-container div > img {
  width: 60%;
  padding-bottom: 50px;
}
.images-container .big-container .second-container hr {
  width: 20%;
  margin-bottom: 50px;
}
.images-container .big-container .second-container div > p {
  padding-bottom: 50px;
  line-height: 24px;
}
.second-container {
  background-color: #f5f5f5;
  display: block;
  padding: 50px;
}
#color-1 {
  background-color: #a2d39b;
}
#color-2 {
  background-color: #60092b;
}
#color-3 {
  background-color: #0093ce;
}
#color-4 {
  background-color: #ff1b1c;
}
#color-5 {
  background-color: #d50120;
}
#color-6 {
  background-color: #b4d0e7;
}
#color-7 {
  background-color: #0d2481;
}
#color-8 {
  background-color: #ffd830;
}
.full-container {
  width: 100vw;
  background-color: #b4d0e7;
}
.half-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(100vw / 7);
  justify-content: space-between;
}
.half-container .text {
  width: 50%;
}
.half-container .text > h2 {
  font-size: 2.5rem;
  color: #60092b;
}
.half-container button {
  padding: 15px 70px;
  border: none;
  background-color: white;
}
.question-container {
  width: 1000px;
  margin: 0 auto;
}
.question-container hr {
  margin: 40px 0 40px 0;
}
.question-container .question {
  display: flex;
  justify-content: space-between;
}
.question-container .question i {
  padding-right: 50px;
}
